<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../home.css">
</head>
<body>
<div id="container">

    <nav>
        <a href="/">
            <div id="Create">Create</div>
        </a>
        <div id="Account">Account</div>
        <div id="Api">API</div>
    </nav>
    
    <form id="form" method="post" action="/">
        <input type="text" name="url" id="url" placeholder="Enter URL">
        <button type="submit">SHORT IT</button>
    </form>
</div>

</body>
</html>